footer {
    display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;
    padding: 2rem var(--device-margin);
    background-color: var(--secondary-background-color);
}