@charset "utf-8";
@import url("./theme.css");
@import url("./components/alert.css");
@import url("./components/header.css");
@import url("./components/main.css");
@import url("./components/hero.css");
@import url("./components/footer.css");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-thumb { background-color: var(--decoration-background-color); border-radius: 10px; border: 2px solid transparent; }
::-webkit-scrollbar-track { background-color: transparent; border-radius: 10px; }

* {
    scrollbar-color: red transparent;
    font-family: "Nunito", sans-serif;
} html {
    scroll-behavior: smooth;
} body {
    box-sizing: border-box; touch-action: manipulation;
    display: flex; flex-direction: column;
    overflow-y: auto; scroll-padding: 10px;
    color: var(--primary-font-color); font-size: var(--default-font-size);
    background-color: var(--primary-background-color);
    margin: 0;
}

strong, p, a, h1, h2, h3, h4, h5, h6 { margin: 0; }
button { border: 0; padding: 0; }
a { text-decoration: none; }

@media (max-width: 600px) { html { --device-margin: 1.25rem; --default-font-size: 14px; } } /* MOBILE */
@media (min-width: 601px) and (max-width: 1280px) { html { --device-margin: 3.75rem; --default-font-size: 16px; } } /* TABLET */
@media (min-width: 1281px) and (max-width: 1920px) { html { --device-margin: 10%; --default-font-size: 18px; } } /* NOTEBOOK */
@media (min-width: 1921px) and (max-width: 3840px) { html { --device-margin: 20%; --default-font-size: 20px; } } /* COMPUTADOR */
@media (min-width: 3841px) { html { --device-margin: 30%; --default-font-size: 22px; } } /* TV */